
    <main class="main-content">
        <h1 class="main-title">Alterar Senha</h1>
        <div class="news-post">
            <section class="container-config">
                <div class="box-user-forms">
                    <span>Preencha para alterar a Senha:</span>
                    {if="$result != ''"}
                        {if="$result[1] == 'success'"}
                            <p class="user-forms-response success-create">{$result[0]}</p>
                        {else}
                            <p class="user-forms-response failed-create">{$result[0]}</p>
                        {/if}
                    {/if}
                    <form action="/my-account/change-password" method="POST" class="user-forms">
                        <input type="password" id="senhaAtual" name="senhaAtual" placeholder="Senha Atual" autocomplete="off" required pattern="(?=.*[0-9])(?=.*[a-z])(?=.*[A-Z])(?=.*[!@#$*%]).{8,16}"><br>
                        <input type="password" id="novaSenha" name="novaSenha" placeholder="Nova Senha" autocomplete="off" required pattern="(?=.*[0-9])(?=.*[a-z])(?=.*[A-Z])(?=.*[!@#$*%]).{8,16}"><a class="tip" tabindex="-1"> ?<span>- Mínimo de 8 e máximo de 16 caracteres. <br><br>- Obrigatório ao menos um número. <br><br>- Obrigatório ao menos uma letra minúscula. <br><br>- Obrigatório ao menos uma letra maiúscula. <br><br>- Obrigatório ao menos um caractere especial.</span></a><br>
                        <input type="password" id="re-novaSenha" name="re-novaSenha" placeholder="Repita a nova senha" autocomplete="off" required pattern="(?=.*[0-9])(?=.*[a-z])(?=.*[A-Z])(?=.*[!@#$*%]).{8,16}"><br>
                        <input type="hidden" name="__token" value="{$csrf_token}">
                        <div class="g-recaptcha captcha-register" data-sitekey="{#PUBLIC_KEY#}" data-theme="dark"></div>

                        <button onclick="return confirm('Alterar Senha?')">Alterar Senha</button>
                    </form>
                </div>
                
            </section>
        </div>
    </main>
