
    <main class="main-content">
        <h1 class="main-title"><i class="fas fa-download"></i> Downloads </h1>
        <div class="news-post">
            <section class="container-config no-flex">
                <div class="box-data downloads">
                    <span>Opções:</span>
                    <a href="#">MEGA</a>
                    <a href="#">Mediafire</a>
                    <a href="#">Google Drive</a>
                </div>
                <br>
                <div class="box-data downloads">
                    <table class="downloads-system-rec">
                        <thead>
                            <tr>
                                <th>Requisitos Mínimos</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Sistema Operacional</td>
                                <td>Windows XP</td>
                            </tr>
                            <tr>
                                <td>Processador</td>
                                <td>P4 2.4Ghz ou Athlon 2500+</td>
                            </tr>
                            <tr>
                                <td>Memória RAM</td>
                                <td>RAM 512MB</td>
                            </tr>
                            <tr>
                                <td>Placa de Vídeo</td>
                                <td>Geforce 5700 / Radeon 9600</td>
                            </tr>
                            <tr>
                                <td>DirectX</td>
                                <td>Directx 9.0c</td>
                            </tr>
                            <tr>
                                <td>Disco Rígido</td>
                                <td>1.5 GB de espaço livre</td>
                            </tr>
                            <tr>
                                <td>Internet</td>
                                <td>Banda Larga</td>
                            </tr>
                        </tbody>
                    </table>
                    <br><hr><br>
                    <table class="downloads-system-rec">
                        <thead>
                            <tr>
                                <th>Requisitos Recomendados</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Sistema Operacional</td>
                                <td>Windows 7, 8 e 10</td>
                            </tr>
                            <tr>
                                <td>Processador</td>
                                <td>P4 3Ghz ou Athlon 3000+</td>
                            </tr>
                            <tr>
                                <td>Memória RAM</td>
                                <td>RAM 1GB</td>
                            </tr>
                            <tr>
                                <td>Placa de Vídeo</td>
                                <td>Geforce 6600/Radeon X600</td>
                            </tr>
                            <tr>
                                <td>DirectX</td>
                                <td>Directx 9.0c ou mais recente</td>
                            </tr>
                            <tr>
                                <td>Disco Rígido</td>
                                <td>8 GB de espaço livre</td>
                            </tr>
                            <tr>
                                <td>Internet</td>
                                <td>Banda Larga</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                
                
            </section>
        </div>
    </main>