<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Nova Senha</title>
</head>
<style type="text/css">
	*{
		margin: 0;
		padding: 0;
	}
</style>
<body style="text-align: center; font-family: 'Arial';">
<h1 style="background-color: #bf3228; padding: 10px; color: white;">NOVA SENHA</h1>
<main style="background-color: #e4e4e4; padding: 30px;">
	<p>
		Olá, #name#, foi realizado um pedido de nova senha em nosso site pelo ip: #ip# , e uma nova senha foi gerada para o usuário: #name#.<br>
		<br>	
		NOVA SENHA:<br><br>
		<span style="background-color: white; padding: 5px;"><strong>#senha#</strong></span>
	</p>
	<br>
	<p>
		Para alterar sua senha acesse #server_link#, entre com seu usuário e senha nova para alterar a senha.
	</p>
	<p>
		Caso você não tenha solicitado essa alteração, recomendamos alterar o e-mail da conta para uma maior segurança.
	</p>

</main>
</body>
</html>