<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Senha do Armazém</title>
</head>
<style type="text/css">
	*{
		margin: 0;
		padding: 0;
	}
</style>
<body style="text-align: center; font-family: 'Arial';">
<h1 style="background-color: #bf3228; padding: 10px; color: white;">Senha do Armazém</h1>
<main style="background-color: #e4e4e4; padding: 30px;">
	<p>
		Olá, #name#, conforme solicitado, aqui está a nova senha para acessar o armazém:<br>
		<br>	
		NOVA SENHA:<br><br>
		<span style="background-color: white; padding: 5px;"><strong>#senha#</strong></span>
	</p>
	<br>
	<p>
		Caso você não tenha solicitado essa alteração, recomendamos alterar o e-mail e senha da conta para uma maior segurança.
	</p>
    <p>
        #server_link#
    </p>
</main>
</body>
</html>